.catalog__intro {
  padding-top: 93px;
  padding-bottom: 83px;
  width: 100%;
  background-image: url("../img/intro-catalog-desktop.jpg");

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-catalog-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    padding-left: 17%;
    padding-right: 17%;
    background-image: url("../img/intro-catalog-tablet.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-catalog-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/intro-catalog-mob.jpg");
    padding: 79px 6% 83px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-catalog-mob@2x.jpg");
    }
  }
}

.catalog__intro h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}

.catalog__intro p {
  font-size: 22px;
  font-weight: 500;

  @media (max-width: $mobile-width) {
    line-height: 26px;
  }
}

.catalog__wrapper {
  @include container-desktop;
  display: flex;
  padding-top: 80px;
  margin: 0 auto;
  max-width: 1600px;

  @media (max-width: $tablet-width) {
    @include container-tablet;
    padding-top: 50px;
  }

  @media (max-width: $mobile-width) {
    @include container-mobile;
    padding-top: 40px;
  }
}

.catalog__filter {
  width: 250px;
  margin-right: 50px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.catalog__filter.modal--open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: $white;
}

.catalog__products {
  width: 74.3%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.catalog__filter-btn {
  display: none;

  @media (max-width: $tablet-width) {
    @include buttons;
    display: block;
    margin-bottom: 50px;
    color: $white;
    background-color: $brown;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}

.catalog__navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 35px 7.2% 74px 29.2%;
  line-height: 21px;
  border-top: 1px solid $grey-bg;

  @media (max-width: $tablet-width) {
    padding-left: 5.8%;
    padding-right: 5.8%;
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 63px;
  }
}

.catalog__pages {
  @include list-style(0, 0 ,none);
  display: flex;
  margin-right: 34px;

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.catalog__page {
  color: $grey;

  &:not(:last-of-type) {
    margin-right: 13px;

    @media (max-width: $mobile-width) {
      margin-right: 23px;
    }
  }

  &--current {
    color: $dark;
  }
}

.catalog__navigation a {
  font-family: $poppins;
  font-weight: 500;
  color: inherit;

  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }
}

.catalog__next-btn,
.catalog__prev-btn {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
