.intro {
  padding: 184px 20% 188px;
  text-align: center;
  background: #725b4b url("../img/intro-desktop.jpg") no-repeat center / cover;

  @media (max-width: $tablet-width) {
    background-image: url("../img/intro-tablet.jpg");
    padding-right: 22%;
    padding-bottom: 180px;
  }

  @media (max-width: $mobile-width) {
    padding: 194px 5% 187px;
    background-image: url("../img/intro-mob.jpg");
  }
}

.intro h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1.35px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width: $mobile-width) {
    font-size: 38px;
    letter-spacing: 1.14px;
    line-height: 38px;
  }
}

.intro p {
  margin: 0;
  font-size: 38px;
  font-style: italic;
  font-weight: 400;
  color: #ffffff;

  @media (max-width: $mobile-width) {
    font-size: 34px;
  }
}
