.products__list {
  @include list-style(0, 0, none);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.products__item {
  text-align: center;
  margin-bottom: 35px;
  width: 31%;
  max-width: 270px;

  @media (max-width: $tablet-width) {
    min-width: 206px;
    width: 31%;
  }

  @media (max-width: $mobile-width) {
    min-width: 130px;
    max-width: 310px;
    width: 44%;
    margin-bottom: 26px;
  }
}

.products__item img {
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.products__item h3 {
  margin-top: 22px;
  margin-bottom: 6px;
  font-family: $poppins;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: $dark;

  @media (max-width: $tablet-width) {
    margin: 22px 1% 6px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 16px;
  }
}

.products__item p {
  margin: 0;
  font-family: $poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: $dark;
}

.products__item:hover h3,
.products__item:hover p {
  color: $brown;
}

.products__item:active h3,
.products__item:active p {
  opacity: 0.7;
}
