$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #000000;
$dark: #1d1613;
$brown: #a87b62;
$beige: #f0eae4;
$grey: #9b9997;
$grey-bg: #f0eae4;
$poppins: "Poppins", "Arial", sans-serif;
